{% extends 'base.html.twig' %}
{% block body %}
<div>
    {% for message in messages|slice(0, limit) %}
        <li> {{ message }} </li>
    {% endfor %}

    {% if limit == 0 %}
        <li>No messages</li>
    {% endif %}
</div>
{% endblock %}
